# Decision Tree Algorithm

#### import pandas library of *Python*

In [204]:
import pandas as pd

#### importing the data

In [23]:
DF = pd.read_csv("Game_data.csv")

In [136]:
DF

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

# Categorical vairable convert into numerical
because the decision tree algorithm only can handle the numerical data,that's why needed to convert, well known method is used  one hot encoder
 #### Method 1::  **One Hot Encoding** using  pandas method get_dummies

In [197]:
DF_dem = pd.get_dummies(DF,prefix=["OUT","Tem","Hum","Wind"],columns=["outlook","temp","humidity","windy"])

In [198]:
DF_dem = DF_dem.drop(columns=['play'])
DF_Con = pd.concat([DF_dem,DF['play']],axis=1)

In [202]:
DF_Con

,OUT_overcast,OUT_rainy,OUT_sunny,Tem_cool,Tem_hot,Tem_mild,Hum_high,Hum_normal,Wind_False,Wind_True,play
0,0,0,1,0,1,0,1,0,1,0,no
1,0,0,1,0,1,0,1,0,0,1,no
2,1,0,0,0,1,0,1,0,1,0,yes
3,0,1,0,0,0,1,1,0,1,0,yes
4,0,1,0,1,0,0,0,1,1,0,yes
5,0,1,0,1,0,0,0,1,0,1,no
6,1,0,0,1,0,0,0,1,0,1,yes
7,0,0,1,0,0,1,1,0,1,0,no
8,0,0,1,1,0,0,0,1,1,0,yes
9,0,1,0,0,0,1,0,1,1,0,yes
10,0,0,1,0,0,1,0,1,0,1,yes
11,1,0,0,0,0,1,1,0,0,1,yes
12,1,0,0,0,1,0,0,1,1,0,yes
13,0,1,0,0,0,1,1,0,0,1,no

#### Method 2::  **One Hot Encoding** using  sklearn  library of python

In [205]:
from sklearn.preprocessing import OneHotEncoder

In [206]:
OHE = OneHotEncoder()

In [213]:
OHE_outlook = OHE.fit_transform(DF['outlook'].values.reshape(-1,1)).toarray()
DF_outlook = pd.DataFrame(OHE_outlook,
                      columns=['out_'+str(OHE.categories_[0][u]) for u in range(len(OHE.categories_[0]))])

In [208]:
OHE_temp = OHE.fit_transform(DF['temp'].values.reshape(-1,1)).toarray()
DF_temp = pd.DataFrame(OHE_temp,
                      columns=['temp_'+str(OHE.categories_[0][u]) for u in range(len(OHE.categories_[0]))])

In [209]:
OHE_humidity = OHE.fit_transform(DF['humidity'].values.reshape(-1,1)).toarray()
DF_humidity = pd.DataFrame(OHE_humidity,
                      columns=['humi_'+str(OHE.categories_[0][u]) for u in range(len(OHE.categories_[0]))])

In [210]:
OHE_windy = OHE.fit_transform(DF['windy'].values.reshape(-1,1)).toarray()
DF_windy = pd.DataFrame(OHE_windy,
                      columns=['windy_'+str(OHE.categories_[0][u]) for u in range(len(OHE.categories_[0]))])

In [214]:
DF_Com = pd.concat([DF_outlook,DF_temp,DF_humidity,DF_windy,DF['play']],axis=1)

In [215]:
DF_Com

,out_overcast,out_rainy,out_sunny,temp_cool,temp_hot,temp_mild,humi_high,humi_normal,windy_False,windy_True,play
0,0,0,1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,no
1,0,0,1,0.0,1.0,0.0,1.0,0.0,0.0,1.0,no
2,1,0,0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,yes
3,0,1,0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,yes
4,0,1,0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,yes
5,0,1,0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,no
6,1,0,0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,yes
7,0,0,1,0.0,0.0,1.0,1.0,0.0,1.0,0.0,no
8,0,0,1,1.0,0.0,0.0,0.0,1.0,1.0,0.0,yes
9,0,1,0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,yes
10,0,0,1,0.0,0.0,1.0,0.0,1.0,0.0,1.0,yes
11,1,0,0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,yes
12,1,0,0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,yes
13,0,1,0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,no

# Spliting the data
###  for real data 80% or 75% for Training and 20% or 25% data for Testing split,for 
### this example I do same for this example, but for real model to Train Need more  data,

In [220]:
X = DF_Com.drop(['play'],axis=1)
y = DF_Com['play']

In [269]:
from sklearn.model_selection import train_test_split

In [301]:
X_Train,X_Test,y_train,y_test = train_test_split(X,y,train_size=0.8,test_size=0.2)

### Create a model of Decision Tree Algorithm

In [302]:
from sklearn.tree import DecisionTreeClassifier

In [303]:
Model = DecisionTreeClassifier()

In [304]:
Model.fit(X_Train,y_train)

DecisionTreeClassifier()

### To check the model's accuracy

In [305]:
Model.score(X_Test,y_test)

1.0

Prediction of the model for the above data

In [306]:
Model.predict(X_Test)

array(['no', 'no', 'yes'], dtype=object)