#      Decision Tree Algorithm

Importing pandas library of python

In [2]:
import pandas as pd

In [3]:
DF = pd.read_csv(r"Game_data.csv")

In [4]:
DF

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

# Categorical vairable convert into numerical
because the decision tree algorithm only can handle the numerical data,that's why needed to convert,
well known method is used **One hote encode** for that

In [5]:
from sklearn.preprocessing import LabelEncoder
Labels = LabelEncoder()

In [6]:
DF_Label = pd.DataFrame() # created empty dataframe

DF_Label['outlook']= Labels.fit_transform(DF['outlook'])
DF_Label['temp'] = Labels.fit_transform(DF['temp'])
DF_Label['humidiy'] = Labels.fit_transform(DF['humidity'])
DF_Label['windy'] = Labels.fit_transform(DF['windy'])

In [7]:
DF_Label['play'] = DF['play']
DF_Label

    outlook  temp  humidiy  windy play
0         2     1        0      0   no
1         2     1        0      1   no
2         0     1        0      0  yes
3         1     2        0      0  yes
4         1     0        1      0  yes
5         1     0        1      1   no
6         0     0        1      1  yes
7         2     2        0      0   no
8         2     0        1      0  yes
9         1     2        1      0  yes
10        2     2        1      1  yes
11        0     2        0      1  yes
12        0     1        1      0  yes
13        1     2        0      1   no

In [20]:
X = DF_Label.drop(columns=["play"])
X

    outlook  temp  humidiy  windy
0         2     1        0      0
1         2     1        0      1
2         0     1        0      0
3         1     2        0      0
4         1     0        1      0
5         1     0        1      1
6         0     0        1      1
7         2     2        0      0
8         2     0        1      0
9         1     2        1      0
10        2     2        1      1
11        0     2        0      1
12        0     1        1      0
13        1     2        0      1

In [9]:
y = DF_Label['play']
y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: play, dtype: object

## Spliting the data
for real data   **80% or 75%** for Training and **20% or 25% data** for Testing split,for this example I do same for this example,
but for real model  to Train Need more data,

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_Train,X_Test,y_train,y_test = train_test_split(X,y,train_size=0.8,test_size=0.2)

###### Create a model of Decision Tree Algorithm

In [12]:
from sklearn.tree import DecisionTreeClassifier

In [13]:
Model = DecisionTreeClassifier()

In [14]:
Model.fit(X_Train,y_train)

DecisionTreeClassifier()

#### To check the model's accuracy

In [18]:
Model.score(X_Test,y_test)

0.6666666666666666

*Prediction of the model* for the above data

In [19]:
Model.predict(X_Test)

array(['no', 'yes', 'yes'], dtype=object)